---
title: GitLab for Open Source
suppress_header: true
extra_css:
  - open-source.css
  - faq.css
extra_js:
  - open-source.js
  - libs/tweenmax.min.js
  - faq.js
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %img{ src: "/images/icons/explore-open-source.svg", alt: "Gitlab explore open source svg" }
    %h1 Explore Open Source
    %p Open source software is a great way to learn new skills and hone existing ones while perfecting products that you love. To stay true to our mission, public projects on GitLab.com have access to our top tier features for free, plus 50,000 free CI pipeline minutes.
    %a.btn.cta-btn.accent{ href: "/solutions/open-source/program" } GitLab for Open Source licenses

.toc-links
  %a{ href: "#foss-spotlight" } FOSS spotlight
  %a{ href: "#popular-projects" } Popular projects
  %a{ href: "#twitter" } What people are saying
  %a{ href: "#get-started" } Get started

.gitlab-content-container.open-source-content.padding-top50
  .content.spotlight#foss-spotlight
    %h2.content-title FOSS Spotlight: Gnome
    %iframe{ src: "https://www.youtube.com/embed/v6GTrbfe9xk", allowfullscreen: "" }
  .content.popular-projects#popular-projects
    %h2.content-title Popular projects
    .grid-layout.grid-layout3
      - data.oss_projects.each do |project|
        - if project.featured
          %a.grid-item.tile.tile-animated{ href: "#{project.project_url}", target: "_blank" }
            %img.tile-logo{ src: "#{project.featured.logo}", alt: "#{project.project_name} logo" }
            .tile-content
              %h3
                = project.project_name
              %p
                View the project on GitLab
    %a.btn.cta-btn.purple.margin-top20{ href: "/solutions/open-source/projects" } More open source projects
  .content.tweets#twitter
    %h2.content-title What people are saying
    .flex-container
      %blockquote.twitter-tweet{"data-lang" => "en"}
        %p{:dir => "ltr", :lang => "en"}>
          Gnome has moved to Gitlab!
          %a{:href => "https://t.co/SqvJ8w6tXl"} https://t.co/SqvJ8w6tXl
          %br/
          = succeed "It's" do
            %br/
        — Wilfred Hughes (@_wilfredh)
        %a{:href => "https://twitter.com/_wilfredh/status/1002284495775682560?ref_src=twsrc%5Etfw"} May 31, 2018
      %blockquote.twitter-tweet{"data-lang" => "en"}
        %p{:dir => "ltr", :lang => "en"}>
          Great to see Inkscape, the superb
          %a{:href => "https://twitter.com/hashtag/FOSS?src=hash&ref_src=twsrc%5Etfw"} #FOSS
          vector drawing app, doing the ethically consistent thing - moving to Gitlab.
          %a{:href => "https://t.co/7KiTNV2JcJ"} https://t.co/7KiTNV2JcJ
        — Dave Lane (@lightweight)
        %a{:href => "https://twitter.com/lightweight/status/874381422567407616?ref_src=twsrc%5Etfw"} June 12, 2017
      %blockquote.twitter-tweet{"data-lang" => "en"}
        %p{:dir => "ltr", :lang => "en"}>
          Mass projects migration test to
          %a{:href => "https://twitter.com/gitlab?ref_src=twsrc%5Etfw"} @gitlab
          has been successful, we are now ready for a full switch by next week!
          %a{:href => "https://t.co/VnuU13Q8Jc"} https://t.co/VnuU13Q8Jc
        — Carlos Soriano (@csoriano1618)
        %a{:href => "https://twitter.com/csoriano1618/status/998301363321876480?ref_src=twsrc%5Etfw"} May 20, 2018
      %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
  .content.quote
    %blockquote
      .blockquote-background#blockquote-background
      .flex-container.flex-column
        %p "Free software really democratizes things and allows more people to contribute to solving the world's problems."
        %p.author
          Nuritzi Sanchez
          %br President, Board of Directors, GNOME
  .content.opensource-get-started#get-started
    .content-section-title-container
      %h2 Get Started
      %p We think there’s something magical about building free software with free software.
    .flex-container
      %a.tile.tile-animated{ href: "/community" }
        %img.tile-icon.margin-bottom30{ src: "/images/icons/solid-icons/community-icon.svg", alt: "Gitlab community icon svg" }
        .tile-content
          %h3 Community Resources
      %a.tile.tile-animated{ href: "https://gitlab.com/explore/projects/starred", target: "_blank" }
        %img.tile-icon.margin-bottom30{ src: "/images/icons/solid-icons/trending-icon.svg", alt: "Gitlab trending icon svg" }
        .tile-content
          %h3 Trending Projects
    .flex-container
      %a.tile.tile-animated{ href: "https://gitlab.com/gitlab-org/gitlab-development-kit/", target: "_blank" }
        %img.tile-icon.margin-bottom30{ src: "/images/downloads/logo.svg", alt: "Gitlab logo svg" }
        .tile-content
          %h3 GitLab Development Kit
      %a.tile.tile-animated{ href: "/2017/11/01/gitlab-switches-to-dco-license" }
        %img.tile-icon.margin-bottom30{ src: "/images/icons/solid-icons/docs-icon.svg", alt: "Gitlab docs icon svg" }
        .tile-content
          %h3 Why we switched to DCO
